<div class="row-fluid">
	<div class="control-group">
		<label class="control-label">{{ _('MPEG-Dash URL') }}</label>
		<div class="controls">
			<input type="text" class="input" data-bind="value: settingsViewModel.settings.plugins.mpeg_dash.url" />
		</div>
	</div>
</div>